@use '../base/variable' as *;
@use '../utilities/mixin' as *;

.headers {
  width: 273px;
  height: 135px;
  margin: 2.5em auto 0;
  font-family: $text-font;

  .headers__heading {
    margin-bottom: 0.2em;
    font-size: 2rem;
    font-weight: $font-semi-bold;
    text-align: center;
    line-height: 48px;
  }

  .headers__desc {
    font-weight: $font-light;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }
}
