@use '../base/variable' as *;
@use '../utilities/mixin' as *;

.headers {
  width: 100%;
  height: 135px;
  margin: 2.5em auto 0;
  font-family: $text-font;
  order: 1;

  .headers__heading {
    font-size: 2rem;
    font-weight: $font-semi-bold;
    text-align: center;
    line-height: 48px;
  }

  .headers__desc {
    width: 80%;
    margin: 0.5em auto 0.2em;
    font-weight: $font-light;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }
}

@media (min-width: 420px) {
  .headers {
    width: 290px;

    .headers__desc {
      width: 95%;
    }
  }

  .headers-added {
    width: 290px;
    height: 111px;
  }
}

@media (min-width: 1536px) {
  .headers-added {
    margin: 2.5em auto 0 !important;

    .headers__desc {
      width: 75% !important;
      text-align: center !important;
    }
  }

  .headers {
    margin: 0 auto;

    .headers__heading {
      text-align: left;
    }

    .headers__desc {
      width: 100%;
      text-align: left;
    }
  }
}
