@use '../base/variable' as *;
@use '../utilities/mixin' as *;

.leaderboard__item {
  @include flex(row, space-between, 0);
  margin: 1em 0;
  transition: all 0.3s ease;
  font-family: $text-font;

  .lb__group {
    @include flex(row, flex-start, 0.7em);

    .lb__img {
      width: 42px;
      height: 42px;
      border-radius: 0.3em;
    }

    .lb__users {
      .lb__users-name {
        font-weight: $font-medium;
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 0.2em;
      }

      .lb__users-email {
        font-weight: $font-regular;
        font-size: 12px;
        line-height: 18px;
        color: $neutral-002;
      }
    }
  }

  .lb__score {
    width: 42px;
    height: 42px;
    font-size: 1rem;
    font-weight: $font-semi-bold;
    text-align: center;
    line-height: 42px;
    color: $navi-002;
    background-color: $light-001;
    border-radius: 0.2em;
  }

  &:hover {
    padding: 0.4rem;
    background-color: #91707082;
    border-radius: 0.4em;
  }
}

.leaderboard__item--lbPage:hover {
  padding: 0;
  background-color: transparent;
  border-radius: 0;
}

.leaderboard__item--lbPage {
  margin: 0;
  width: 100%;
}

@media (min-width: 1024px) {
  .leaderboard__item--lbPage {
    .lb__group--lbPage {
      .lb__img--lbPage {
        width: 52px;
        height: 52px;
      }

      .lb__users {
        .lb__name--lbPage {
          font-size: 1.1rem;
        }

        .lb__id--lbPage {
          font-size: 0.95rem;
        }
      }
    }

    .lb__score--lbPage {
      width: 50px;
      height: 50px;
      font-size: $h2-font-size;
      line-height: 50px;
    }
  }
}
