@use '../base/variable' as *;
@use '../utilities/mixin' as *;

.profilebar {
  display: none;
  overflow-y: auto;
  position: absolute;
  top: 80px;
  right: 0;
  width: 280px;
  height: 100vh;
  padding: 1rem;
  border-left: 2px solid $navi-004;

  .profilebar__group {
    margin: 2em 0;

    .profilebar__img {
      width: 150px;
      height: 150px;
      margin: 0 auto 1em;
      border-radius: 0.6em;
    }

    .profilebar__name {
      font-size: $h2-font-size;
      text-align: center;
      margin-bottom: 1em;
    }

    .profilebar__box {
      position: relative;
      padding: 1em;
      margin: 3em 0;
      background-color: #5e6376;
      border-radius: 0.6em;

      .profilebar__badge {
        @include flex(row, center, 0.5em);
        position: absolute;
        top: -15px;
        right: 0;
        left: 0;
        width: 120px;
        height: 30px;
        margin: 0 auto;
        color: #d3bbed;
        background: #493ba1;
        border-radius: 0.3rem;

        .badge__icon {
          font-size: 0.8rem;
        }

        .badge__text {
          font-size: 0.8rem;
        }
      }

      .profilebar__info {
        @include flex(row, flex-start, 1em);
        margin: 0.8em 0;

        .profilebar__icon {
          padding: 0.2em;
          font-size: 2rem;
          color: #ebebeb;
          background-color: #a7a7a7;
          border-radius: 0.2em;
        }

        p {
          width: 160px;
          overflow-x: scroll;
          margin-top: 1.15em;
          font-size: 0.8em;
          color: #d1d1d1;

          &::-webkit-scrollbar {
            width: 0;
          }
        }
      }
    }
  }
}

@media (min-width: 1150px) {
  .profilebar {
    display: block;
  }
}

@media (min-width: 1440px) {
  .profilebar {
    top: 0;
    height: 100%;
    padding: 5rem 1rem 1rem;
  }
}
