@use '../base/variable' as *;
@use '../utilities/mixin' as *;

.rightBar {
  display: none;
  overflow-y: auto;
  position: absolute;
  top: 80px;
  right: 0;
  width: 280px;
  height: 100vh;
  padding: 1rem;
  font-family: $text-font;
  border-left: 2px solid $navi-004;

  .rightBar__group {
    margin: 2em 0;

    .rightBar__box {
      width: 239px;
      padding: 1em;
      margin: 2em auto;
      background-color: $navi-003;
      border-radius: 0.6em;
    }

    .rightBar__badge {
      @include flex(row, center, 0.5em);
      position: absolute;
      top: -15px;
      right: 0;
      left: 0;
      width: 120px;
      height: 30px;
      margin: 0 auto;
      color: #d3bbed;
      background: #493ba1;
      border-radius: 0.3rem;

      .badge__icon {
        font-size: 0.8rem;
      }

      .badge__text {
        font-size: 0.8rem;
      }
    }

    .rightBar__button {
      width: 142px;
      height: 44px;
      font-weight: $font-semi-bold;
      font-size: 16px;
      line-height: 44px;
      text-align: center;
      color: $navi-002;
      background-color: $light-001;
      box-shadow: 6px 6px 0px rgba(46, 34, 34, 0.38);
      border-radius: 5px;
    }

    .rightBarBox__header {
      @include flex(row, space-between, 0);
      margin-bottom: 1em;

      h3 {
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: #ddd8d8;
      }

      .rightBarBox__icon {
        width: 24px;
        height: 24px;
        color: $primary-003;
      }
    }

    .rightBarBox__wrapper {
      @include flex(column, flex-start, 0.85em);
      align-items: flex-start;
    }

    .userList__group {
      @include flex(row, flex-start, 0.6em);

      .userList__img {
        width: 38px;
        height: 38px;
        border-radius: 50px;
      }

      .userList__info {
        h4 {
          font-weight: 500;
          font-size: 14px;
          line-height: 21px;
        }

        span {
          font-weight: 400;
          font-size: 12px;
          line-height: 18px;
          color: $neutral-002;
        }
      }
    }

    .trend__group {
      @include flex(row, space-between, 0);
      width: 100%;
      background-color: transparent;
      border-bottom: 1px solid $navi-004;

      .trend__item {
        @include flex(row, flex-start, 0.4em);

        .trend__icon {
          width: 20px;
          height: 20px;
        }

        h4 {
          font-weight: 500;
          font-size: 12px;
          line-height: 18px;
        }
      }

      .trend__createdAt {
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
      }
    }

    .neutral {
      color: $neutral-002;
    }
    .pink {
      color: $primary-001;
    }
  }

  &::-webkit-scrollbar {
    width: 0;
  }
}

.rightBar-flex {
  @include flex();
}

.rightBar-relative {
  position: relative;
}

.rightBar-w-s {
  height: 148px;
}

@media (min-width: 1200px) {
  .rightBar {
    display: block;
    width: 300px;
  }
}

@media (min-width: 1440px) {
  .rightBar {
    top: 0;
    padding: 5rem 1rem 1rem;
  }
}

@media (min-width: 1536px) {
  .rightBar {
    top: 20px;
    padding: 5rem 1rem 2rem;

    .rightBar__group .rightBar__box {
      background-color: $navi-004;
    }
  }
}
