@use '../base/variable' as *;
@use '../utilities/mixin' as *;

.sidebar {
  position: fixed;
  top: 0px;
  width: 80%;
  height: 100%;
  background: rgb(51 57 79 / 65%);
  border-radius: 0.6em;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);

  .sidebar__headers {
    @include flex(row, space-between, 0);
    width: 100%;
    padding: 2em 1em;

    .headers__item {
      @include flex(row, flex-start, 0.5rem);

      .headers__img {
        width: 32px;
        height: 32px;
        padding: 0.2em;
        background: $backgroud-linear;
        border-radius: 0.2em;
      }

      .headers__group {
        .headers__title {
          font-size: 1rem;
          margin-bottom: 0.2em;
        }

        .headers__desc {
          font-size: 0.7rem;
          color: #b6c3cf;
        }
      }
    }

    .headers__button {
      @include flex();
      width: 32px;
      height: 32px;
      background: linear-gradient(152.9deg, #442a10 0.44%, #cf5b70 100%);
      border-radius: 3rem;

      .headers__icon {
        font-size: 1.8rem;
        color: $title-color;
      }
    }
  }

  .sidebar__overflow {
    overflow-y: auto;
    height: 100%;

    &::-webkit-scrollbar {
      width: 0;
    }
  }

  .sidebar__wrapper {
    margin: 2em 0;
    padding: 1.5em;

    .sidebar__navigation {
      margin-bottom: 2.5em;

      .nav__link {
        @include flex(row, flex-start, 1em);
        margin-bottom: 1em;

        .nav__icon {
          font-size: 1.8rem;
          padding: 0.2em;
          border-radius: 50%;
          color: $title-color;
          background: $text-color-light;
        }
        .nav__title {
          font-size: $h3-font-size;
          font-weight: 400;
          color: $title-color;
        }
      }
    }

    .sidebar__leaderboard {
      .leaderboard__heading {
        font-size: $h2-font-size;
        margin-bottom: 2em;
      }

      .leaderboard__button {
        @include flex(row, center, 0.6em);
        margin: 2em auto 0;
        width: 100%;
        height: 44px;
        padding: 0.2em;
        background: #493ba1;
        color: #fff;
        border-radius: 0.5em;

        .btn__icon {
          font-size: 1.5rem;
        }

        .btn__text {
          font-size: 0.9rem;
        }
      }
    }
  }

  .sidebar__footer {
    margin: 7em 0 7em;
    border-top: 2px solid #c1afaf;
    padding: 0.5em 1.5em;

    .footer__item {
      @include flex(row, flex-start, 1em);
      margin: 1em 0;

      .footer__icon {
        font-size: 1.5em;
        color: #493ba1;
      }

      .footer__link {
        color: $text-color-light;
      }
    }

    .footer__copyright {
      margin-top: 2em;
      color: #696969;
      text-align: center;
    }
  }
}

@media (min-width: 420px) {
  .sidebar {
    width: 280px;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
  .sidebar {
    top: 80px;
    padding: 1em;
    background: transparent;
    border-right: 2px solid rgba(151, 142, 142, 0.38);
    border-radius: 0;
    box-shadow: 0px 0px 0px;
    backdrop-filter: blur(0);
    -webkit-backdrop-filter: blur(0);

    .sidebar__headers {
      display: none;
    }

    .sidebar__wrapper {
      margin: 1em 0;

      .sidebar__navigation {
        margin-bottom: 3.5em;
      }

      .sidebar__leaderboard {
        .leaderboard__heading {
          margin-bottom: 1.5em;
        }
      }
    }
  }
}

@media (min-width: 1280px) {
}

@media (min-width: 1440px) {
  .sidebar {
    top: 0;
    padding: 5rem 1rem 1rem;
  }
}
