@use '../base/variable' as *;
@use '../utilities/mixin' as *;

.sidebar {
  font-family: $text-font;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 1rem;
  width: 100%;
  height: 100%;
  background: #161519e7;

  .sidebar__headers {
    @include flex(row, space-between, 0);
    width: 100%;
    padding: 1em 1em;
    border-bottom: 2px solid $navi-004;

    .headers__item {
      @include flex(row, flex-start, 0.5rem);

      .headers__img {
        width: 42px;
        height: 42px;
      }

      .headers__group {
        .headers__title {
          font-size: 1rem;
          margin-bottom: 0.2em;
        }

        .headers__desc {
          font-size: 0.7rem;
          color: #b6c3cf;
        }
      }
    }

    .headers__button {
      @include flex();
      width: 32px;
      height: 32px;
      background: linear-gradient(152.9deg, #442a10 0.44%, #cf5b70 100%);
      border-radius: 3rem;

      .headers__icon {
        font-size: 1.8rem;
        color: $title-color;
      }
    }
  }

  .sidebar__overflow {
    overflow-y: auto;
    height: 100%;

    &::-webkit-scrollbar {
      width: 0;
    }
  }

  .sidebar__wrapper {
    width: 90%;
    margin: 2em 0;
    padding: 1.5em;

    .sidebar__navigation {
      margin-bottom: 3.5em;

      .nav__link {
        @include flex(row, flex-start, 1em);
        margin-bottom: 1em;

        .nav__wrap {
          @include flex();
          width: 36px;
          height: 36px;
          border-radius: 0.85em;
          background-color: $neutral-004;

          .nav__icon {
            font-size: 1.4rem;
            line-height: 36px;
            color: $neutral-003;
          }
        }

        .nav__title {
          font-size: $h3-font-size;
          font-weight: 400;
          color: $title-color;
        }
      }
    }

    .sidebar__leaderboard {
      margin-top: 1em;

      .leaderboard__wrapper {
        margin: 1.4em 0;
      }

      .leaderboard__heading {
        font-size: 1.35rem;
        font-weight: $font-medium;
      }

      .leaderboard__button {
        @include flex(row, center, 0.6em);
        margin: 0 auto;
        width: 100%;
        height: 44px;
        padding: 0.2em;
        background: $gradient-004;
        color: #fff;
        border-radius: 0.5em;

        .btn__icon {
          font-size: 1.5rem;
        }

        .btn__text {
          font-size: 0.9rem;
        }
      }
    }
  }

  .sidebar__footer {
    margin: 5em 1em 7em;
    border-top: 2px solid $navi-004;
    padding: 0.5em 1.5em;

    .footer__item {
      @include flex(row, flex-start, 1em);
      margin: 1em 0;

      .footer__icon {
        font-size: 1.5em;
        color: $neutral-003;
      }

      .footer__link {
        color: $neutral-003;
        text-decoration: underline;
      }
    }

    .footer__copyright {
      margin-top: 2em;
      color: $neutral-003;
      text-align: center;

      span {
        display: inline-block;
      }
    }
  }
}

@media (min-width: 420px) {
  .sidebar {
    .sidebar__wrapper {
      width: 320px;
    }
  }
}

@media (min-width: 600px) {
  .sidebar {
    width: 320px;

    .sidebar__wrapper {
      width: 100%;
    }
  }
}

@media (min-width: 1024px) {
  .sidebar {
    top: 80px;
    padding: 1em;
    background: transparent;
    border-right: 2px solid $navi-004;
    border-radius: 0;
    box-shadow: 0px 0px 0px;
    backdrop-filter: blur(0);
    -webkit-backdrop-filter: blur(0);

    .sidebar__headers {
      display: none;
    }

    .sidebar__wrapper {
      margin: 0.5em 0 1em;

      .sidebar__navigation {
        margin-bottom: 3.5em;
      }

      .sidebar__leaderboard {
        .leaderboard__heading {
          margin-bottom: 1.5em;
        }
      }
    }
  }
}

@media (min-width: 1440px) {
  .sidebar {
    top: 0;
    padding: 6rem 1rem 1rem;
  }
}

@media (min-width: 1536px) {
  .sidebar {
    top: 20px;
    left: unset;
  }
}
