@use '../base/variable' as *;
@use '../utilities/mixin' as *;

.thread__list {
  @include flex();
  width: 100%;
  padding: 1em;
}

.thread {
  width: 550px;
  padding: 1.5em 2em;
  color: #e3e5eb;
  background-color: #2c2b2a;
  box-shadow: 10px 10px 0px rgba(32, 36, 51, 0.27);
  border-radius: 10px;

  .thread__heading {
    font-size: 20px;
    font-weight: 600;
  }

  .thread__profile {
    @include flex(row, space-between, 0);
    margin: 1.1em 0 1.5em;

    .thread__group {
      @include flex();

      .thread__image {
        width: 45px;
        height: 45px;
        border-radius: 0.4em;
      }

      .thread__info {
        h4 {
          font-size: 14px;
          margin-bottom: 0.2em;
          font-weight: 500;
        }

        p {
          font-size: 10px;
          color: rgb(133 132 131);
        }
      }
    }
    .thread__badge {
      background: #f4c395;
      padding: 0.6em;
      font-size: 14px;
      border-radius: 1em;
      color: #f94868;
      font-weight: 500;
      border: 1px solid #fc728b;
    }
  }

  .thread__desc {
    font-size: 14px;

    strong {
      font-weight: 700;
      margin: 0 5px;
    }
  }

  .thread__icon {
    @include flex(row, flex-start, 1em);
    margin: 1em 0 0;
    padding: 1em 0.4em;

    .wrapper__icon {
      @include flex();
      padding: 0.5em;
      background-color: rgb(207 207 207 / 40%);
      border-radius: 50%;

      .bookmark {
        color: #fc728b;
        font-size: 18px;
      }
    }

    .thread__comment {
      @include flex(row, space-between, 0.8em);
      padding: 0.5em;
      background-color: rgb(207 207 207 / 40%);
      border-radius: 2em;

      .comment {
        color: #fc728b;
        font-size: 18px;
      }

      span {
        font-size: 12px;
        color: $main-color;
      }
    }
  }
}
