@use '../base/variable' as *;
@use '../utilities/mixin' as *;

.thread {
  margin: 0 auto 2em;
  padding: 1.5em 2em;
  color: #e3e5eb;
  background-color: #2c2b2a;
  box-shadow: 10px 10px 0px rgb(100 100 100 / 27%);
  border-radius: 10px;

  .thread__heading {
    font-size: 20px;
    font-weight: 600;
  }

  .thread__profile {
    @include flex(row, space-between, 0);
    margin: 1.1em 0 1.5em;

    .thread__group {
      @include flex();

      .thread__image {
        width: 45px;
        height: 45px;
        border-radius: 0.4em;
      }

      .thread__info {
        h4 {
          font-size: 14px;
          margin-bottom: 0.2em;
          font-weight: 500;
        }

        p {
          font-size: 10px;
          color: rgb(133 132 131);
        }
      }
    }
    .thread__badge {
      background: #f4c395;
      padding: 0.6em;
      font-size: 14px;
      border-radius: 1em;
      color: #f94868;
      font-weight: 500;
      border: 1px solid #fc728b;
    }
  }

  .thread__desc {
    font-size: 14px;

    strong {
      font-weight: 700;
      margin: 0 5px;
    }
  }

  .thread__icon {
    @include flex(row, flex-start, 1em);
    margin: 1em 0 0;
    padding: 1em 0.4em;

    .wrapper__icon {
      @include flex();
      padding: 0.5em;
      background-color: rgb(207 207 207 / 40%);
      border-radius: 50%;

      .bookmark {
        color: #fc728b;
        font-size: 1em;
      }
    }

    .thread__comment {
      @include flex(row, space-between, 0.8em);
      padding: 0.5em;
      background-color: rgb(207 207 207 / 40%);
      border-radius: 2em;

      .comment {
        color: #fc728b;
        font-size: 1em;
      }

      span {
        font-size: 12px;
        color: #dfdfdf;
      }
    }
  }
}

.threadAdded {
  @include flex(row, space-between, 0);
  width: 90%;
  height: 68px;
  margin: 2em auto;
  padding: 0 1.5em;
  background-color: $first-color;
  border-radius: 0.4em;

  .added__heading {
    font-size: $h3-font-size;
    color: #d7cdcf;
  }

  .added__button {
    @include flex();
    padding: 0.2em;
    border-radius: 0.2em;
    background-color: $second-color;

    .button__icon {
      font-size: 1.5rem;
      color: #d7cdcf;
    }
  }
}

@media (min-width: 640px) {
  .thread {
    width: 450px;

    .thread__profile .thread__group {
      gap: 0.8em;
    }

    .thread__icon {
      .wrapper__icon {
        .bookmark {
          font-size: 1.2rem;
        }
      }

      .thread__comment {
        .comment {
          font-size: 1.2rem;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .thread,
  .threadAdded {
    width: 550px;
  }

  .thread {
    .thread__heading {
      font-size: 24px;
    }

    .thread__desc {
      font-size: 16px;
    }

    .thread__profile {
      margin: 1.5rem 0;
    }

    .thread__icon {
      .wrapper__icon .bookmark {
        font-size: 1.3rem;
      }

      .thread__comment {
        padding: 0.5em 0.7em;

        .comment {
          font-size: 1.3rem;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
}

@media (min-width: 1150px) {
}
