@use '../../base/variable' as *;
@use '../../utilities/mixin' as *;

.comment__heading {
  @include flex(row, space-between 0);
  width: 175px;
  height: 34px;
  gap: 1.1em;
  color: $navi-003;
  border-radius: 0.4em;

  h2 {
    font-style: normal;
    font-weight: $font-semi-bold;
    font-size: 20px;
    line-height: 18px;
    color: $light-001;
  }

  .comment__total {
    width: 26px;
    height: 26px;
    padding: 3px 4px;
    font-weight: $font-medium;
    font-size: 1rem;
    line-height: 20px;
    text-align: center;
    color: $navi-003;
    background-color: $light-001;
    border-radius: 0.2em;
  }
}
