@use '../../base/variable' as *;
@use '../../utilities/mixin' as *;

.comment__form {
  width: 100%;
  height: 201px;
  padding: 0.6em;
  background: $navi-004;
  border-radius: 0.5em;

  .comment__user {
    @include flex(row, flex-start, 0.8em);
    .user__img {
      width: 38px;
      height: 38px;
      border-radius: 0.35em;
    }

    .user__name {
      font-style: normal;
      font-weight: $font-medium;
      font-size: 14px;
      line-height: 21px;
    }
  }

  .comment__textArea-group {
    margin: 0 auto 1em;

    .comment__textArea {
      width: 100%;
      height: 86px;
      margin: 0.3em 0;
      padding: 0.4em;
      font-style: normal;
      font-weight: $font-regular;
      font-family: $text-font;
      font-size: 14px;
      line-height: 21px;
      color: $title-color;
      background-color: transparent;
      border-radius: 0.3em;
      border: none;

      &::placeholder {
        font-family: $text-font;
        color: $neutral-002;
      }
    }
  }

  .comment__button {
    width: 100px;
    height: 34px;
    border-radius: 0.4em;
    background: $light-001;

    span {
      font-style: normal;
      font-weight: $font-medium;
      font-size: 12px;
      line-height: 18px;
    }
  }
}
