@use '../base/variable' as *;
@use '../utilities/mixin' as *;

.homepage {
  padding: 2em 0 6em;

  .homepage__wrapper {
    @include flex(column-reverse, center, 1.5em);
    margin-bottom: 1.5em;
  }

  .homepage__btn {
    display: block;
    width: 85%;
    height: 60px;
    margin: 0 auto;
    font-family: $body-font;
    font-style: normal;
    font-weight: $font-semi-bold;
    font-size: 16px;
    line-height: 60px;
    text-align: center;
    background: $light-001;
    color: $navi-001;
    border-radius: 0.25em;
    transition: all 0.3s ease-in;

    &:hover {
      box-shadow: 10px 10px 0px $navi-004;
    }
  }
}

@media (min-width: 420px) {
  .homepage__btn {
    width: 350px !important;
  }
}

@media (min-width: 1024px) {
  .homepage {
    position: absolute;
    margin: 0 auto;
    top: 60px;
    right: 120px;
    padding: 2em 1em;
  }
}

@media (min-width: 1150px) {
  .homepage {
    max-width: 1000px;
    right: 190px;
  }
}
@media (min-width: 1200px) {
  .homepage {
    left: 0px;
    right: 0px;
  }
}

@media (min-width: 1536px) {
  .homepage {
    margin: 6em auto 0;

    .homepage__wrapper {
      flex-direction: row;
    }
  }
}
