@use '../base/variable' as *;

.Layout__children {
  width: 100%;
  padding: 1em;
}

@media (min-width: 600px) {
  .Layout__children {
    width: 600px;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .Layout__children {
    position: absolute;
    top: 20px;
    right: 60px;
    margin: 50px auto 0;
    padding: 2rem;
  }
}

@media (min-width: 1150px) {
  .Layout__children {
    position: absolute;
    right: 90px;
    overflow-y: scroll;
    height: 840px;

    &::-webkit-scrollbar {
      width: 0;
    }
  }
}

@media (min-width: 1200px) {
  .Layout__children {
    position: absolute;
    left: 0;
    right: 0;
    height: 840px;
  }
}

@media (min-width: 1441px) {
  .Layout {
    top: 35px;
    width: 1440px;
  }
}

@media (min-width: 1440px) and (min-height: 1000px) {
  .Layout__children {
    height: 900px;
    padding-bottom: 1.5em;
  }
}

@media (min-width: 1536px) {
  .Layout {
    position: fixed;
    top: 20px;
    left: 0;
    bottom: 0;
    right: 0;
    width: 1536px;
    height: 100vh;
    margin: 0 auto;
    border-radius: 0.8rem;
    background: $navi-003;
  }
}
