@use '../base/variable' as *;
@use '../utilities/mixin' as *;

.LeaderboardsPage {
  padding: 1em 0;
  font-family: $text-font;

  .boards__group {
    margin: 1.4em 0.8em 0;
  }

  .boards__info {
    @include flex(row, space-between, 0);
    align-items: flex-end;
    margin-bottom: 1em;

    .boards__text {
      font-style: normal;
      font-weight: $font-semi-bold;
      font-size: 20px;
      line-height: 30px;
    }
  }

  .boards__wrapper {
    @include flex(column, flex-start, 0.3em);
    align-items: flex-start;
    padding: 0px;
    gap: 25px;
  }
}

@media (min-width: 500px) {
  .LeaderboardsPage {
    width: 450px;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .LeaderboardsPage {
    width: 100%;
  }
}

@media (min-width: 1150px) {
  .LeaderboardsPage {
    width: 480px;
  }
}
@media (min-width: 1440px) {
  .LeaderboardsPage {
    width: 90%;

    .boards__headers {
      width: 348px;
      height: 130px;
      margin: 0 auto;
      text-align: center;
    }
  }
}
