@use '../base/variable' as *;
@use '../utilities/mixin' as *;

.NotfoundPage {
  @include flex(column, center, 0);
  width: 100%;
  height: 100vh;

  h1 {
    font-size: $h1-font-size;
    margin-bottom: 1em;
  }

  .NotfoundPage__group {
    @include flex(row, center, 1em);

    .slash {
      width: 4px;
      height: 25px;
      border-radius: 0.1em;
      background: $gradient-001;
    }

    .link {
      color: $second-color;
    }
  }
}
