@use '../base/variable' as *;
@use '../utilities/mixin' as *;

.profile__container {
  @include flex(column, flex-start, 1em);
  align-items: flex-start;
  padding: 1em 1em 6em;
  font-family: $text-font;

  .profile__wrapper {
    @include flex(column, flex-start, 1.25em);
    align-items: flex-start;
    width: 100%;
  }

  .userthread {
    width: 100%;
  }
}

.profile__container-false {
  @include flex(row, center, 1em);
  width: 100%;
  height: 100vh;

  span {
    padding-right: 0.5em;
  }

  .link-to-login {
    color: $second-color;
    text-decoration: underline;
  }
}

@media (min-width: 550px) {
  .profile__container {
    width: 550px;
    gap: 1.8em;
    margin: 1em auto;
    padding-bottom: 6em;
  }
}

@media (min-width: 700px) {
  .profile__container {
    width: 600px;
  }
}

@media (min-width: 1024px) {
  .profile__container {
    position: absolute;
    top: 120px;
    right: 80px;
    width: 550px;
    margin: 2em auto;
    padding-bottom: 2em !important;
  }
}
@media (min-width: 1150px) {
  .profile__container {
    right: 145px;
  }
}

@media (min-width: 1200px) {
  .profile__container {
    left: 0px;
    right: 0px;
  }
}

@media (min-width: 1536px) {
  .profile__container {
    overflow-x: scroll;
    width: 580px;
    height: 800px;

    &::-webkit-scrollbar {
      width: 0;
    }
  }
}
