@use '../base/variable' as *;
@use '../utilities/mixin' as *;

.ThreadDetailPage {
  font-size: $text-font;

  .threadDetail__wrapper {
    @include flex(column, flex-start, 18px);
    align-items: flex-start;
    margin: 1.8em 0 4em;
  }

  .threadDetail__title {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: $font-semi-bold;
    font-size: 24px;
    line-height: 28px;
  }

  .threadDetail__desc {
    font-style: normal;
    font-weight: $font-regular;
    font-size: 14px;
    line-height: 21px;
  }
}

.threadDetail__comment {
  margin: 1.5rem 0;
  padding-top: 1em;
  border-top: 3px solid $navi-004;

  .comment__wrapper {
    @include flex(column, flex-start, 18px);
    align-items: flex-start;
    margin-bottom: 1.5em;
  }
}

.threadDetail__comment-false {
  margin-bottom: 1.4em;

  span {
    padding-right: 0.5em;
  }

  .link-to-login {
    color: $second-color;
    text-decoration: underline;
  }
}

@media (min-width: 550px) {
  .ThreadDetailPage {
    .threadDetail__title {
      font-size: 25px;
    }

    .threadDetail__desc {
      font-size: 16px;
    }

    .threadDetail__comment {
      .comment__wrapper {
        margin-bottom: 2em;
      }
    }
  }
}
