@use '../base/variable' as *;
@use '../utilities/mixin' as *;

.ThreadAddPage {
  font-family: $text-font;

  .threadAddPage__form {
    order: 2;

    .threadAddPage__group {
      margin: 1em auto;

      .threadAddPage__input {
        width: 100%;
        padding: 0 1em;
        height: 57px;
        font-weight: $font-regular;
        font-size: 18px;
        line-height: 27px;
        color: $title-color;
        background-color: transparent;
        border-radius: 0.4em;

        &::placeholder {
          color: $title-color;
          font-family: $text-font;
        }
      }

      .border-color-1 {
        border: 2px solid $light-001;
      }

      .border-color-2 {
        border: 2px solid $light-003;
      }

      .threadAddPage__textarea {
        width: 100%;
        height: 197px;
        margin-bottom: 0.8em;
        padding: 0.8em 1em;
        font-weight: $font-regular;
        font-size: 18px;
        font-family: $text-font;
        line-height: 27px;
        background-color: transparent;
        color: $title-color;
        border-radius: 0.4em;
        border: 2px solid $light-002;

        &::placeholder {
          color: $title-color;
          font-family: $text-font;
        }
      }
    }

    .form__button {
      display: none;
    }
  }
}

@media (min-width: 600px) {
  .ThreadAddPage {
    align-items: flex-start;

    .ThreadAddPage__heading {
      font-size: $h1-font-size;
      margin-bottom: 0.5em;
    }

    .threadAdd__flex {
      @include flex(row, space-between, 1em);
    }

    .threadAddPage__form .threadAddPage__group {
      margin: 1em 0;
    }
  }
}

@media (min-width: 1024px) {
  .ThreadAddPage .threadAddPage__form {
    .form__button {
      @include flex();
      width: 100%;
      height: 50px;
      color: $navi-002;
      font-weight: $font-semi-bold;
      background-color: $primary-002;
      border-radius: 0.3em;
      font-size: 16px;
    }
  }
}
