@use '../../base/variable' as *;
@use '../../utilities/mixin' as *;

.trend__group {
  @include flex(row, space-between, 0);
  width: 100%;
  padding: 0 1em 0.5em;
  background-color: transparent;
  border-bottom: 1px solid $navi-001;

  .trend__item {
    @include flex(row, flex-start, 0.4em);

    .trend__icon {
      width: 20px;
      height: 20px;
      color: $neutral-005;
    }

    h4 {
      color: $neutral-005;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
    }
  }

  .trend__createdAt {
    color: $light-001;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
  }
}
