@use './base/reset';
@use './base/variable' as *;
@use './utilities/mixin' as *;
@use './layout/Layout';
@use './layout/HomePage';
@use './layout/AuthPage';
@use './layout/ThreadAddedPage';
@use './layout/ThreadDetailPage';
@use './layout/LeaderboardsPage';
@use './layout/NotfoundPage';
@use './components/Navbar';
@use './components/Threads';
@use './components/Sidebar';
@use './components/Profilebar';
@use './components/LeaderboardItem';
@use './components/ThreadProfile';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,300;0,400;0,600;0,700;1,400;1,600&display=swap');

body {
  width: 100%;
  height: 100vh;
  font-family: $body-font;
  color: $title-color;
  background: $main-color;
}

html {
  scroll-behavior: smooth;
}

.heading {
  font-size: 2.2rem;
  text-align: center;
  color: $title-color;
}

.logo__brand {
  @include flex();
  width: 70px;
  height: 70px;
  margin: 0 -0.7em 2em;
}

.drop {
  width: 100%;
  height: 100vh;
  background: rgba(35, 32, 32, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(3.9px);
  border: 1px solid rgba(35, 32, 32, 0.17);
}

.drop__blur {
  width: 100%;
  height: 100vh;
  background: rgba(35, 32, 32, 0.3);
  box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
  backdrop-filter: blur(10.3px);
  -webkit-backdrop-filter: blur(10.3px);
  border: 1px solid rgba(35, 32, 32, 0.17);
}

.Loading {
  position: sticky;
  top: 0;
  z-index: 20;
}

.visible {
  display: none;
  opacity: 0;
}

.container {
  max-width: 100%;
  margin: 0 auto;
}

@media (min-width: 1024px) {
  .visible {
    display: block;
    opacity: 1;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 1rem 0;
  }
}
