@use '../../base/variable' as *;
@use '../../utilities/mixin' as *;

.navbar__header {
  @include flex(row, space-between, 0.3em);
  color: $title-color;
  padding-bottom: 0.3em;
  border-bottom: 2px solid $navi-004;

  .navbar__brand {
    @include flex(row, flex-start, 0.3em);

    img {
      margin: 0;
      cursor: pointer;
      background-color: transparent;
    }
    .name__brand {
      h4 {
        font-size: 18px;
        color: $title-color;
        margin-bottom: 0.2em;
      }
      span {
        font-size: 14px;
        font-weight: $font-light;
        color: $text-color-light;
      }
    }
  }

  .navbar__btn-icon {
    @include flex();
    width: 36px;
    height: 36px;
    background-color: $light-001;
    border-radius: 0.2em;

    .close {
      font-size: 2.2rem;
      color: $navi-002;
    }
  }
}

@media (min-width: 1024px) {
  .navbar__header {
    display: none;
  }
}
