@use '../../base/variable' as *;
@use '../../utilities/mixin' as *;

.navigation__thread {
  @include flex(row, space-between, 0);

  button {
    margin: 0;
    background-color: transparent;

    .navigation__icon {
      font-size: 2rem;
      color: $title-color;
    }
  }

  .navigation__button {
    @include flex();
    width: 128px;
    height: 44px;
    color: $navi-002;
    font-weight: $font-semi-bold;
    background-color: $primary-002;
    border-radius: 0.3em;
    font-size: 16px;
  }
}

@media (min-width: '1024px') {
  .navigation__thread {
    display: none;
  }
}
