@use '../../base/variable' as *;
@use '../../utilities/mixin' as *;

.navbar {
  @include flex(row, space-between, 0);
  width: 100%;
  height: 50px;
  padding: 2.3em 0.5em;
  font-family: $text-font;
  background-color: transparent;
  border-bottom: 2px solid $navi-004;

  .nav__brand {
    @include flex(row, center, 0);
    color: $neutral-001;

    .nav__brand-group {
      @include flex(row, flex-start, 0);
    }

    .nav__brand-logo {
      margin: 0;
      cursor: pointer;
      background-color: transparent;
    }

    .name__brand {
      display: none;
    }
  }

  .nav__group-button {
    @include flex(row, flex-start, 0.5em);

    .Humberger__Menu {
      padding: 0.2em;
      background-color: transparent;

      .menu__fill {
        font-size: 2rem;
        color: $neutral-001;
      }
    }

    .nav__button {
      @include flex();
      width: 98px;
      height: 44px;
      color: $navi-002;
      font-weight: $font-semi-bold;
      background-color: $light-001;
      border-radius: 0.3em;
      font-size: 16px;
    }
  }
}

@media (min-width: 768px) {
  .navbar {
    padding: 2.3em 1em;
  }
}

@media (min-width: 1024px) {
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 10;
    height: 50px;
    padding: 2.3em 0.5em;
    background-color: $navi-003;
    border: none;

    .nav__icon {
      display: none;
    }

    .nav__group-button {
      .Humberger__Menu,
      .nav__button,
      .nav__btn {
        display: none;
      }
    }
    .nav__brand .name__brand {
      display: block;

      h4 {
        font-size: 18px;
        color: $neutral-001;
        margin-bottom: 0.2em;
      }
      span {
        font-size: 14px;
        font-weight: $font-light;
        color: $neutral-004;
      }
    }
  }
}

@media (min-width: 1280px) {
  .navbar {
    padding: 2.3em 2em;

    .nav__brand {
      .name__brand {
        color: $neutral-001;
      }
    }
  }
}

@media (min-width: 1441px) {
  .navbar {
    border-top-left-radius: 0.6rem;
    border-top-right-radius: 0.6rem;
  }
}

@media (min-width: 1536px) {
  .navbar {
    background-color: $navi-004;
    top: 20px;
    width: 1536px;
  }
}
