@use '../../base/variable' as *;
@use '../../utilities/mixin' as *;

.sidebar__leaderboard {
  width: 100%;
  align-self: center;

  .leaderboard__wrapper {
    margin: 2em 0;
  }

  .leaderboard__heading {
    text-align: center;
    font-size: 1.35rem;
    font-style: normal;
    font-weight: $font-semi-bold;
    line-height: 33px;
  }

  .leaderboard__button {
    @include flex(row, center, 0.6em);
    margin: 0 auto;
    width: 90%;
    height: 50px;
    padding: 0.2em;
    background: $gradient-004;
    color: #fff;
    border-radius: 0.4em;

    .btn__text {
      font-size: 1rem;
    }
  }
}

@media (min-width: 1024px) {
  .sidebar__leaderboard {
    .leaderboard__heading {
      margin-bottom: 1.5em;
    }
  }
}
